@media only screen and (min-width: 38rem) {
  header {
    grid-template-columns: 24px auto;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
  }

  .navigation ul {
    display: flex;
  }

  .navigation a {
    border: none;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
  }

  main h1 {
    grid-column: 1 / -1;
    margin-bottom: 0;
  }

  .courses {
    grid-column: 1 / -1;
  }

  .card-section img {
    height: 300px;
    width: auto;
  }
}
