* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:   #102645;  
    --secondary-color: #000000;
    --button-color:    #a4161a;   
    --background-color:#f2f2f2;
    --background-container: #e6e6e5;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--background-color);
}

h1, h2, h3 {
    font-family: "Open Sans", sans-serif;
    color: var(--secondary-color);
}

h1 {
    padding: 20px 15px 10px 15px;
    margin: 0 0 20px 0;
    text-align: center; /* o left si prefieres */
    font-size: 2.5rem;
}

p {
    font-size: 18px;
    color: var(--secondary-color);
    line-height: 1.5;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 15px 10px 15px 10px;
    align-items: center;
    background: var(--primary-color);
    column-gap: 20px;
    font-family: "Open Sans", sans-serif;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: var(--background-color);
    font-weight: bold;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
}

.hamburger:after {
    content: "\2630";
}

.hamburger.show::after {
    content: "\00D7";
}

.navigation {
    display: none;
    background-color: var(--secondary-color);
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--background-color);
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: var(--button-color);
}

.navigation a:hover {
    color: var(--secondary-color);
    background-color: var(--background-color);
}

main {
    padding: 0 15px 30px 15px;
}

.card-section {
    width: 100%;
    margin: 15px 0;
    background-color: var(--background-container);
    padding-bottom: 15px;
}

.card-title {
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 27px;
    text-align: center;
    margin: 0;
}

.card-content {
    padding: 18px;
    margin: 0;
}

.card-section img {
    display: block;
    width: 80%;
    margin: 15px auto;
}

.button-container {
    display: flex;
    gap: 10px;
    padding: 0 10px;
}

.buttons {
    flex: 1;
    border: 1px solid black;
    font-weight: bold;
    padding: 8px;
    font-family: "Inter", sans-serif;
}

.course-card {
    border: 1px solid #000000;
    margin: 10px;
    padding: 8px;
}

.completed {
    border-left: 5px solid green;
    background-color: #fff;
}

.incomplete {
    border-left: 5px solid #999;
}

#totalCreditsText {
    text-align: center;
    padding-bottom: 10px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background: var(--button-color);
}
